

<footer class="section-footer border-top">
	<div class="container">
		<section class="footer-bottom border-top row">
			<div class="col-md-2">
				<p class="text-footerlight"> &copy 2023 Zielonaszkółka </p>
			</div>
			<div class="col-md-8 text-md-center">
				<span  class="px-2">jakjaw01@gmail.com</span>
				<span  class="px-2">+48-796-123-425</span>
				<span  class="px-2">Mysłowicka 2137 tychy</span>
			</div>
			<div class="col-md-2 text-md-right text-footerlight">
				<p style="text-align:right">
					<i class="fab fa-lg fa-cc-visa" ></i>
					<i class="fab fa-lg fa-cc-paypal"></i>
					<i class="fa fa-lg fa-credit-card"></i>
					<i class="fa fa-lg fa-money"></i>
				</p>
			</div>
		</section>
	</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
	$(document).ready(function(){
		$('.thumb a').click(function(e){
			e.preventDefault();
			$('.mainImage img').attr('src', $(this).attr("href"));
		})
	})
</script>


</body>
</html>