{% extends "base.html" %}
{% load static %}

{% block content %}


<section class="section-intro padding-y-sm">
	<div class="container">
		<div class="intro-banner-wrap">
			<img src="{% static 'images/banners/Banner_2a.png' %}" class="img-fluid rounded">
		</div>
	</div>
</section>

<section class="section-name padding-y-sm">
	<div class="container">
		<header class="section-heading">
			<a href="{% url 'store' %}" class="btn btn-outline-primary float-right">Sprawdź je wszystkie</a>
			<h3 class="section-title">Nasze najnowsze produkty <i class="fa fa-fire" style="color:Tomato;"></i> </h3>
		</header>
		<div class="row">
			{% for product in products %}
			<div class="col-md-3">
				<div class="card card-product-grid">
					<a href="{{ product.get_url }}" class="img-wrap"> <img src="{{ product.image.url }}"> </a>
					<figcaption class="info-wrap">
						<a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
						<div class="price mt-1">{{ product.price|floatformat:2 }} zł</div>
						<div class="rating-star">
							<span>  
							  <i class="fa fa-star{% if product.averageRating < 0.5 %}-o{% elif product.averageRating >= 0.5 and product.averageRating < 1 %}-half-o {% endif %}" aria-hidden="true"></i>
							  <i class="fa fa-star{% if product.averageRating < 1.5 %}-o{% elif product.averageRating >= 1.5 and product.averageRating < 2 %}-half-o {% endif %}" aria-hidden="true"></i>
							  <i class="fa fa-star{% if product.averageRating < 2.5 %}-o{% elif product.averageRating >= 2.5 and product.averageRating < 3 %}-half-o {% endif %}" aria-hidden="true"></i>
							  <i class="fa fa-star{% if product.averageRating < 3.5 %}-o{% elif product.averageRating >= 3.5 and product.averageRating < 4 %}-half-o {% endif %}" aria-hidden="true"></i>
							  <i class="fa fa-star{% if product.averageRating < 4.5 %}-o{% elif product.averageRating >= 4.5 and product.averageRating < 5 %}-half-o {% endif %}" aria-hidden="true"></i>
							</span>
							({{product.countReview}})
						  </div>
					</figcaption>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>


</body>
</html>
{% endblock %}